body {
    display:            block;
}


#content {
    
    width:              900px;
    margin:             auto;
}


#topPage {
    position:           static;
    width:              900px;
    height:             150px;
    border:             thin solid black; 
}

#nav {
    position:           static;
    width:              890px;
    height:             50px;
    border:             thin solid black;
    padding:            10px 0 0 10px;
    text-align:         left;
}

#nav a {
    display:            inline-block;
    margin-top:         10px;
}

#subNav {
    position:           static;
    float:              left;
    width:              190px;
    height:             490px;
    border:             thin solid black;
    padding:            10px 0 0 10px;
}

#page {
    position:           static;
    float:              right;
    width:              686px;
    height:             500px;
    border:             thin solid black;
    padding:            0 0 0 10px;
}

#pageFullWidth {
    position:           static;
    width:              900px;
    height:             500px;
    border:             thin solid black;
}

#footer {
    position:           static;
    clear:              both;
    width:              900px;
    height:             50px;
    border:             thin solid black;
}

#title {
    display:            block;
    text-align:         center;
    padding:            35px 0 0 0;
}

br.clear {
    clear:              both;
}

/* Login Styles */

div.login {
    margin:             100px auto;
    padding:            25px;
    width:              300px;
    border:             thin solid black;
}

div.login label {
    display:            block;
    float:              left;
    clear:              left;
    margin:             4px 0;
    width:              100px;
}

div.login input {

}

div#login {
    display:            block;
    clear:              both;
    float:              right;
    margin:             25px 25px 0 0;
}

div#userArea {
    float:              right;
    margin:             5px 5px 0 0;
}

/* Text Formatting */

.b {
    font-weight:        bold;
}

.i {
    font-style:         italic;
}

.u {
    text-decoration:    underline;
}

.bi {
    font-weight:        bold;
    font-style:         italic;
}

.bu {
    font-weight:        bold;
    text-decoration:    underline;
}

.iu {
    font-style:         italic;
    text-decoration:    underline;
}

.biu {
    font-weight:        bold;
    font-style:         italic;
    text-decoration:    underline;
}

.loginError {
    color:              #ff0000;
    text-align:         center;
}